<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="MyActivity" android:label="@string/app_name" android:theme="@style/custom_title_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--安卓基本概念汇总-->
        <activity android:name="CommonSensePageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="PixelPageActivity" android:theme="@style/custom_title_style"></activity>


        <!--五种常见的页面布局-->
        <activity android:name="FiveCommonLayoutPageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="LinearLayoutActivity"></activity>
        <activity android:name="FrameLayoutActivity"></activity>
        <activity android:name="RelativeLayoutActivity"></activity>
        <activity android:name="AbsoluteLayoutActivity"></activity>
        <activity android:name="TableLayoutActivity"></activity>

        <!--页面布局进阶篇(各种组合，各种特效)-->
        <activity android:name="LayoutAdvancePageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="TableHeaderInListViewActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="CustomTitleActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name=".MainTabActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name=".AActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name=".BActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name=".CActivity"></activity>
        <activity android:name=".DActivity"></activity>
        <activity android:name=".EActivity"></activity>
        <activity android:name="FixedHeaderActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="PageViewFlipperActivity" ></activity>
        <activity android:name=".XListViewActivity"></activity>


        <activity android:name="CommonWidgetListPageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="TextViewActivity"></activity>
        <activity android:name="EditViewActivity"></activity>
        <activity android:name="CheckBoxActivity"></activity>
        <activity android:name="RadioGroupActivity"></activity>
        <activity android:name="SpinnerActivity"></activity>
        <activity android:name="AutoCompleteTextViewActivity"></activity>
        <activity android:name="DatePickerActivity"></activity>
        <activity android:name="HtmlPageActivity"></activity>
        <activity android:name="ProgressBarActivity"></activity>
        <activity android:name="SeekBarActivity"></activity>
        <activity android:name="RatingBarActivity"></activity>


        <activity android:name="ImageListPageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="ImageViewActivity"></activity>
        <activity android:name="ImageButtonActivity"></activity>
        <activity android:name="ImageSwitchGalleryActivity"></activity>
        <activity android:name="BigImageActivity"></activity>

        <activity android:name="DialogPageActivity"></activity>
		 <activity android:name="TabDemoActivity"></activity>
        <activity android:name="OptionMenuActivity"></activity>
        <activity android:name="MenuListPageActivity" android:theme="@style/custom_title_style"></activity>
        <activity android:name="OptionMenuCustomActivity"></activity>

        <activity android:name="ContextMenuActivity"></activity>
        <activity android:name="SubMenuActivity"></activity>
        <activity android:name="SubStartActivityForResultDemoPageActivity"></activity>
        <activity android:name="StartActivityForResultDemoPageActivity"></activity>
        <activity android:name="HorizonVerticalPageActivity" android:screenOrientation="sensor" android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="NotifyPageActivity"></activity>
        <activity android:name="NotifyResultActivity"></activity>


    </application>


    <!--拨打电话的权限-->
    <uses-permission android:name="android.permission.CAll_PHONE"/>
    <!--访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest> 
