<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="MyActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>




        <activity android:name=".DBListPageActivity"></activity>
        <activity android:name=".InternetHttpActivity"></activity>
        <activity android:name=".SharedPreferencesActivity"/>
        <activity android:name=".FileActivity"/>
        <activity android:name=".SQLiteIntroActivity"/>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".SQLiteCRUDActivity"/>

        <activity android:name="com.example.ORMLite.MainActivity"/>
        <activity android:name="com.example.ORMLite.StudentListActivity"/>

        <activity android:name=".PhoneContactsActivity"></activity>

        <!--<uses-library android:name="android.test"></uses-library>-->
        <!--<uses-library android:name="junit.runner"/>-->
    </application>
     <!--<instrumentation android:name="android.test.InstrumentationTestRunner"-->
                      <!--android:targetPackage="com.example"-->
             <!--android:label="Tests for db module"/>-->

    <!--拨打电话的权限-->
    <uses-permission android:name="android.permission.CAll_PHONE"/>
    <!--访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--读写联系人的权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
</manifest> 
